/* Your card CSS file */
.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  width:auto;
  height:150px;
  border-radius: 7px;
  text-shadow: 1px 1px 5px rgb(0 0 0 / 100%);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.card-product {
  height: 150px;
  border-radius: 7px;
  text-shadow: 1px 1px 1px rgb(192, 192, 192);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  display: flex;
}

.product-description {
  padding: 20px;
  margin: 0px;
}

.product-description h2 {
  margin-bottom: 10px;
}

.product-description p {
  font-weight: lighter;
  margin-top: 0px;
}

.card-trip {
  height: auto;
  border-radius: 7px;
  text-shadow: 1px 1px 1px rgb(192, 192, 192);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
}

.card-trip-description {
  padding: 45px;
  display: flex;
  justify-content: space-between;
}

.trip-main-details h2{
  margin-bottom: 10px;
}

.trip-main-details p{
  margin-top: 0px;
}
