/* Your board style here */
.racer-table td {
  height: 160px;
  width: 160px;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("images/player_1.png");
}
#player2-race td.active {
  background-image: url("images/player_2.png");
}

.finish {
  background-image: url("images/finish.png");
  background-size: cover;
}

.finish.active {
  background-size: 90%, cover;
  background-position: center, top left;
}

#player1_race .finish.active {
  background-image: url(images/player_1.png), url('images/finish.png');
}

#player2_race .finish.active {
  background-image: url(images/player_2.png), url('images/finish.png');
}
